.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;

}
.header{
	display: flex;
	width: 100%;
	height: 50px;
	border: 1px solid red;
	align-items: center;
	justify-content: center;
	
}
.header h4{
	font-size: 20px;
	margin-left: 35px;
}
.body{
	display: flex;
	height: 600px;
	width:100%;
	margin-top: 50px;
	display: inline;

}
.div1,.div2,.div3{
	height:500px;
	width:400px;
	margin-left: 30px;
	background: url("../img/divbg.jpg");
	background-repeat: no-repeat;
	background-size: 400px 400px;
	font-size: 20px;
	line-height: 35px;
	float: left;

}
@media only screen and (max-width: 500px) {
  .body {
  	flex-direction: column;
	  
  }
  .div1,.div2,.div3{
  	width: 402px;
  	margin-left: -2px;
  }
.header{
    width: 393px;	
}
body{
	background: url("../img/mainbg.jpg");
	background-size: 100px 100px;
}
.header h4{
	color:antiquewhite;
}
.footer h1{
	color: antiquewhite;
font-size: 15px;
   
}
}